p{
	color:turquoise;
	background-color:green;
	padding:10px;
	}
.lightup{
		color:blue;
		background-color:beige;
		padding:10px;
	}
#epic{
	color:white;
	background-color:orange;
	padding:10px;
	
	}
	
